body {
    font-family: 'Open Sans', sans-serif;
    /*font-size: 60%;*/
    margin: 0px; 
    padding: 0px; 
   /* width: 100%;*/
    overflow-x: hidden;
    margin: 0;
    height: 100%;
    max-width: 100%; 
}

#nav-list li{
    display: inline;
    margin: 1%;
    font-size: 80%;
    width: 100%;
    
}
.inline{
    display: inline-block;
    position: relative;
}
#nav-list{
    /*position: relative;*/
    text-align: center;
}
a{
    color:inherit;
    text-decoration: none;
}

.query{
    border-width: 1px;
    width: 60%;
    border: 1px solid #D0D0D0; 
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    height: 1.1rem;
    padding: .1rem .5rem;
}
.searchImg{
    border-width: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #D0D0D0;

    display: block;
    padding: .1rem .5rem;
    margin-top: 1rem;
    height: 0.7rem;
    width: 0.9rem;
}
select{
    border:transparent;
}
.lang{
    text-align: left;
    margin-bottom: 1.3rem;
}
.custLog{
    margin-top: .1rem;
    color: black;
}

h2{
    color: white;
    width: 50%;
    margin-left: 20%;
    font-weight: normal;
    margin-bottom: 0px;
    font-size: 201%;
    page-break-after: avoid
}

p{
    color: white;
    margin-left: 20%;
}

.knopka
{
    position: relative;
    display: block;
    background: #2793C9;
    color: white;
    font-size: 14px;   
    border-radius: 5px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 15px;
    width: 10%;
    margin-left: 20%;
}
.greb{
    height: 50px;
}
.knopka2{
    position: relative;
    background: url(../source/img/btnArrow.png) right 15px center no-repeat,  #2793C9;
    height: 36px;
    width: 180px;
    padding: 10px;
    border: none;
    text-align: left;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin-top: 3%;
    display: block;
    top: 350px;
    
}

.knopka:after
{
    content: url('../source/img/btnArrow.png');
    position: relative;
    right: -7px;
    top: 2px;
    float: right; 
}

.knopka:hover
{
    background: #379fd3;
}

.skolzit
{
    padding-left: 10px;
    margin-left: 19.5%;
}
.skolzit-k
{
    display: inline-block;
    background-color: #E5E5E5;
    margin-right: 4px;
    border-radius: 3px;
    cursor: pointer;
    height: 12px;
    width: 12px;
}
.first
{
    background-color: #3399CE;
}
.skolzit-n, .copyrightMob{
    display: none;
}
.list-parts
{
    position: relative;
    padding: 0;
    margin: 0 auto;
    margin-left: 20%;
    /*need to center*/
}
.part
{
    position: relative;
    font-size: 20px;
    font-weight: 300;
    border-radius: 5px;
    
    display: inline-block;
    padding: 8px;
    padding-top: 13px;
    padding-bottom: 20px;
    width: 250px;
    height: 120px;
    margin-right: 30px;
    margin-top: 40px;
    cursor: pointer;
    vertical-align: top;
}
.part a
{
    position: absolute;
    color: white;
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
    bottom: 12px;
}

.pink a:before
{
    position: relative;
    content: url('../source/img/link-icon.png');
    top: 9px;
    right: 5px;
}

.green a:before
{
    position: relative;
    content: url('../source/img/file-icon.png');
    top: 9px;
    right: 5px;
}
.orange a:before
{
    position: relative;
    content: url('../source/img/play-icon.png');
    top: 9px;
    right: 5px;
}
.pink
{
    background:rgba(244, 34, 139, 0.8);
}

.pink:hover
{
    background:rgb(244, 34, 139);
}

.green
{
    background:rgba(72, 196, 5, 0.8);
}

.green:hover
{
    background:rgb(72, 196, 5);
}

.orange
{
    background:rgba(255, 102, 0, 0.8);
}

.orange:hover
{
    background:rgb(255, 102, 0);
}
.obolochka{
    padding: 10px;
    padding-top: 15px;
}
 
#nav-list li{
    display: inline;
    margin: 1%;
    
}
.inline{
    display: inline-block; 
}
.move{
    display: inline;
    position: relative;
    top: 55px;
}
.pos{
    position: relative;
    top: 15px;
}
a{
    color:inherit;
    text-decoration: none;
}

#query{
    border-width: 1px;
    width: 50%;
    border: 1px solid #D0D0D0; 
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    height: 1.1rem;
    padding: .1rem .5rem;
}
#searchImg{
    border-width: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #D0D0D0;

    display: block;
    padding: .1rem .5rem;
    margin-top: 1rem;
    height: 1.1rem;
}
select{
    border:transparent;
}
.lang{
    text-align: left;
    margin-bottom: 1.3rem;
}
#custLog{
    width: 50%;
    margin-top: .1rem;
    color: black;
}

.my-main{
    display: block;
    background-position: center 0px;
    padding-bottom: 20px;
    background: url(../source/img/slide-bg-complexity.png) 50% no-repeat fixed;
    background-size: cover;
}

h2{
    color: white;
    width: 50%;
    margin-left: 20%;
    font-weight: normal;
    margin-bottom: 0px;
    font-size: 201%;
    page-break-after: avoid
}

p{
    color: white;
    margin-left: 20%;
}

.knopka
{
    display: block;
    background: #2793C9;
    color: white;
    font-size: 14px;   
    border-radius: 5px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 15px;
    width: 10%;
    margin-left: 20%;
}

.knopka:after
{
    content: url('../source/img/btnArrow.png');
    position: relative;
    right: -7px;
    top: 2px;
    float: right; 
}

.knopka:hover
{
    background: #379fd3;
}

.skolzit
{
    padding-left: 10px;
    margin-left: 19.5%;
}
.skolzit-k
{
    display: inline-block;
    background-color: #E5E5E5;
    margin-right: 4px;
    border-radius: 3px;
    cursor: pointer;
    height: 12px;
    width: 12px;
}
.first
{
    background-color: #3399CE;
}
.skolzit-n{
    display: none;
}
.list-parts
{
    position: relative;
    padding: 0;
    margin: 0 auto;
    margin-left: 20%;
}
.part
{
    position: relative;
    font-size: 20px;
    font-weight: 300;
    border-radius: 5px;
    
    display: inline-block;
    padding: 8px;
    padding-top: 13px;
    padding-bottom: 20px;
    width: 250px;
    height: 120px;
    margin-right: 30px;
    margin-top: 40px;
    cursor: pointer;
    vertical-align: top;
}
.part a
{
    position: absolute;
    color: white;
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
    bottom: 12px;
}

.pink a:before
{
    position: relative;
    content: url('../source/img/link-icon.png');
    top: 9px;
    right: 5px;
}

.green a:before
{
    position: relative;
    content: url('../source/img/file-icon.png');
    top: 9px;
    right: 5px;
}
.orange a:before
{
    position: relative;
    content: url('../source/img/play-icon-image.png');
    top: 9px;
    right: 5px;
}
.pink
{
    background:rgba(244, 34, 139, 0.8);
}

.pink:hover
{
    background:rgb(244, 34, 139);
}

.green
{
    background:rgba(72, 196, 5, 0.8);
}

.green:hover
{
    background:rgb(72, 196, 5);
}

.orange
{
    background:rgba(255, 102, 0, 0.8);
}

.orange:hover
{
    background:rgb(255, 102, 0);
}
.obolochka{
    padding: 10px;
    padding-top: 15px;
}
.center{
    text-align: center;
    margin: auto;
}
.we-do{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-image: url('../source/img/services-bg.png');
    width: 100%;
    padding-top: 11px;
    padding-bottom: 48px;
    background: radial-gradient(#59BEDC 1%, #3399CE 98%);
}
.we-do li
{
    display: inline-block;
    margin-right: 0px;
    position: relative;
    text-align: center;
}
.we-do a
{
    color: white;
}
.we-do li span
{
    display: block;
}
.data-monit,
.robot,
.flag,
.cloud,
.manage,
.social
{
    display: block;
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
}
.data-monit
{
    content: url('../source/img/data-monetization.png');
}

.data-monit:hover
{
    content: white url('../source/img/data-monetization-hover.png');
    
}
.robot
{
   /* content: url('../source/img/robot-icon.png');*/
}
.robot img:hover
{
    
    -webkit-filter: grayscale(0.3) hue-rotate(210deg);;
}
.flag
{
    content: url('../source/img/flag-icon.png');
}
.flag:hover
{
    content: white  url('../source/img/flag-icon.png');
}
.cloud
{
    content: url('../source/img/cloud-icon.png');
}
}
.cloud:hover
{
    content: white url('../source/img/cloud-icon.png');
}
.manage
{
    content: url('../source/img/managed-services.png');
}
.manage:hover
{
    content: white url('../source/img/managed-services.png');
}
.social
{
    content: url('../source/img/social-icon.png');
}
.social:hover
{
    content: white url('../source/img/social-icon.png');
    color: blue;
}
.we-do h2
{
    margin-top: 25px;
    margin-bottom: 35px;
}
.box
{
    position: relative;
    margin-bottom: 90px;
    margin-right: 20px;
    margin-left: 20px;
}
.length{
    position: relative;
    width: 200px;
}
.newsAndEvents {
    background: url(../source/img/news-and-events-bg.png) 50% no-repeat fixed;
    background-size: cover;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    height: 25em;
    padding-top: 0.1px;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.newsAndEvents h2{
    text-align: center;
}

.newsAndEventsContainer{
    display: inline-block;
    float: left;
    font-size: 2em;
    /*margin-top: 30px;*/
    /*need to center*/

}
.lead{
    color: black;
}

.NewsAndEventsItem{
    float: left;
    margin-right: 25px;
    padding: 0;
    font-size: 0.5em;
}

.NewsAndEventsItemDetails {
    background: rgba(220, 210, 205, 0.5);
    width: 296px;
    height: 120px;
    border-radius: 3px;
}

.NewsAndEventsItemDetails:hover {
    background: rgba(220, 210, 205, 0.8);
    cursor: pointer;
}

.NewsAndEventsItemDetails p{
    color: black;
    padding: 10px;
    font-size: 0.8em;
    text-transform: capitalize;
}

.date {
    float: left;
    width: 70px;
    height: 100px;
    background: rgb(50, 150, 200);
    border-radius: 1px;
    margin: 10px;
    box-shadow: 0 1px 4px 0 grey;
}

.day {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    border-bottom: 1px dotted;
}

.month {
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    font-size: 1.3em;
}

.calendar {
    list-style-image: url(../source/img/eventListIconEvents.png);
    margin: 5px 30px 0;
    font-size: 0.8em;
    display: inline-block;
    text-transform: capitalize;
}
.magazine
{
    list-style-image: url(../source/img/eventListIconNews.png);

}
.calendar:hover {
    list-style-image: url(../source/img/eventListIconEvents_hover.png);
    color: grey;
    cursor: pointer;
}
.magazine:hover {
    list-style-image: url(../source/img/eventListIconNews_hover.png);
    color: grey;
    cursor: pointer;
}
ul {
    padding: 0;
    list-style-type: none;
    /*margin: 0 6em 0 6em;*/
}
.bigFont
{
    font-size: 170%;
}
.smallFont{
    font-size: 90%;
}
.newsHeader
{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
}
.successHeader
{
    color: rgb(80, 80, 80);
    margin-top: 3%;
    margin-bottom: 3%;
}
.invisible
{
    visibility: hidden;
}
.success{
    background: rgb(230, 230, 230);
    background-size: cover;
    -webkit-background-origin:border;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    height: 600px;
    padding-top: 0.1px;
    color: black; 
    text-align: center;
}

.line{
    float: left;
    width: 350px;
    margin-right: 10px;
    text-align: left;
}

.boxOfSuccess{
    background: rgb(255, 255, 255);
    padding: 18px;
    border-radius: 2px;
    margin: 0 0 10px 0;
    width: auto;
    height: 175px;
    cursor: pointer;
}
.logo:hover{
    background: url(../source/img/logos_generic_2nd_side_cut_02_w108px_x_h95px.png);
    padding: 0px;
    -webkit-filter: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s; 
    cursor: pointer;
}
.anLine {
    width: 230px;
    margin-right: 0;
}

.story{
    border-bottom: 1px solid rgb(221, 221, 221);
    height: 8em;
}

.story p{
    display: inline-block;
    overflow: hidden;
    float: left;
    margin: 0;
}

.person h3{
    font-size: 0.9em;
    font-weight: normal;
    color: #4fadde;
    margin: 5px 0 0 0;
}

.person p{
    font-size: 0.9em;
    font-weight: normal;
    margin: 0;
    min-width: 10em
}
.story img{
    float: left;
    display: inline-block;
    margin-right: 10px;
}
.person img{
    float: right;
    height: 1.9em;
    margin: 5px 0 0 0;
    -webkit-filter: grayscale(100%);
}
.logos{
    list-style-type: none;
    margin: 0 0 2px 0;
    padding: 0;
    display: inline-block;
}

.logo:last-child{
    margin: 0;
}

.logos > li{
    display: inline-block;
    width: 110px;
    height: 100px;
    border-radius: 2px;
    float: left;
    margin: 0 10px 0 0;
}

.bigBox{
    width: 11em;
    font-size: 1em;
}
.littleBox{
    font-size: 0.8em;
    width: 13em;
}

.logo{
    text-align: center;
    -webkit-filter: grayscale(100%);
}
.cycle{
    background: white url("../source/img/cycle30.png") center center no-repeat;
}

.bull{
    background: white url("../source/img/bull.png") center center no-repeat;
}

.gemplus{
    background: white url("../source/img/gemplus.png") center center no-repeat;
}

.mtc{
    background: white url("../source/img/mtc.png") center center no-repeat;
}

.cable{
    background: white url("../source/img/cable&wireless.png") center center no-repeat;
}

.trilogy{
    background: white url("../source/img/trilogy.png") center center no-repeat;
}

.tatasky{
    background: white url("../source/img/tatasky.png") center center no-repeat;
}

.hp{
    background: white url("../source/img/hp.png") center center no-repeat;
}

.atos{
    background: white url("../source/img/atos.png") center center no-repeat;
}
.black{
   color: rgb(80, 80, 80);
}
.footer2{
    background-image: url('../source/img/footer-bg.png');
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    height: 600px;
    padding-top: 0.1px;
    color: black; 
    text-align: center;
}
.white{
    color: white;
    padding-top: 7px;
}

.wrap{
    width: 980px;
    margin: 0 auto;
    padding: 10px 0 1px 0;
    position: relative;
    margin:  ;
}
.width1000{
    /*how to center the elements*/
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 1800px;*/
}
.main-wrap{
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0 1px 0;
    position: relative;
}

.HeaderMobile
{
    display: none;
}
footer {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.8em;
    color: #dbdbdb;
    background: url('../source/img/footer-bg.png');
    height: 365px;
}

footer a:link {
    text-decoration: none;
}

footer a:visited {
    color: #dbdbdb;
}

.divs {
    float: left;
}

.footerDiv {
    float: left;
    margin-right: 60px;
}

.footerHead {
    line-height: 50px;
    font-size: 1em;
}

.posts {
    float: right;
    width: 260px;
    height: 320px;
    background: rgba(221, 211, 203, 0.15);
    color: white;
}

.posts h1 {
    color: #4ea7d3;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bolder;
    text-align: center;
}

.blogs{
    border-bottom: 1px solid rgb(106, 106, 106);
    margin: 20px;
    padding-bottom: 20px;
    font-size: 1.2em;
}

.fPar {
    padding-top: 15px;
}

.fDate {
    float: left;
    margin-right: 20px;
}

.fDay {
    font-weight: bolder;
    font-size: 2.5em;
    padding-bottom: 0;
}

.fMonth {
    font-size: 1.6em;
    text-align: center;
    padding-top: 0;
}

.sign {
    margin: 22px;
}
.subscribe {
    border-radius: 2px;
    outline: none;
    
}
.email {    
    height: 26px;
    margin: 0;
    margin-right: 0px;
    padding: 0 0 0 6px;
    border: none;
    border-radius: 1px;
    width: 66%;
}

.socialList {
    margin-top: 35px;
}

.regItem {
    float: left;
    margin-right: 10px;
}

.youtube:hover {
    content: url(../source/img/socialMenuIcon-youtube_hover.png);
}

.twitter:hover {
    content: url(../source/img/socialMenuIcon-twitter_hover.png);
}

.linkedin:hover {
    content: url(../source/img/socialMenuIcon-linkedin_hover.png);
}

.footerMobile {
    display: none;
}

.signUp {
    background: linear-gradient(to bottom, #40a5d6 , #2a92c5);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 26px;
    width: 30%;
    float: right;
    padding: 0;
    margin-left: 0px;
}
.copyright {
    display: block;
    clear: left;
    padding-top: 65px;
    color: rgb(113, 113, 113);
    text-align: left;
}


.copyright a:visited {
    color: rgb(113, 113, 113);
}

.searchMobile {
    position: relative;
    border: 1px solid #d2d2d8;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: block;
}
.srchInput {
    width: 130px;
    height: 30px;
    border: none;
    margin: 0 3px 0 3px;
    border-radius: 5px;
    border: none;
}

@media (max-width: 850px) {
    .pink, .green, .orange, .box, .NewsAndEventsItem, .line,
    {
        width: 100%;
    }
    .wrap {
        width: 100%;
    }
     .main-wrap {
        width: 100%;
    }

    header {
        padding-top: 10px;
    }

    .logo {
        display: none;
    }
    #mobileSearch
    {
        display: none;
    }
    .success
    {
        height: 1300px;
    }
    .newsAndEvents
    {
        height: 800px;
    }

    #srchMob {
        background: rgb(240, 240, 240);
        display: inline-block;
        width: 32px;
        height: 30px;
        border-radius: 4px;
        padding: 8px 3px 0 3px;
        border: 1px solid grey;
        float: right;
        margin-right: 10px;
        position: relative;
    }
    #mobileSearch:checked ~ .searchMobile {
        display: inline-block;
        position: absolute;
        background: white;
        margin: 0 0 0 -140px;
        height: 35px;
        width: 180px;
    }
    #menuForMob {
        display: none;
    }
    .searchMobile {
        display: none;
    }
    .hamburger {
        display: none;
        background: rgb(235, 235, 235);
        display: inline-block;
        width: 30px;
        height: 25px;
        padding: 10px 5px 5px 11px;
        border-radius: 4px;
        border: 1px solid grey;
        float: left;
        margin-left: 10px;
        position: relative;
    }

    #menuForMob:checked ~ .mobList {
        display: block;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        background-color: white;
    }

    .mobList {
        display: none;
    }

    .mobileMenu:focus + .mobList{
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    #buttonRadiusMobile
    {
        color: rgb(220,220,220);
        border-width: 1px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;    
        padding: 0.3rem 0.4rem;
        height: 1rem
    }
    .navListMob a
    {
        display: block;
        padding: 5px;
        border-bottom: 1px solid grey;
    }
    .navListMob:last-child a
    {
        border-bottom: 1px solid grey;
        padding: 4px 4px 4px 4px;
        margin-bottom: 0;
    }
    .comverseLogo 
    {
        height: 36px;
        cursor: pointer;
        margin-bottom: 15px;
        margin-left: 35px;
        margin-right: auto;
    }

    footer {
        height: 200px;
    }
    
    .divs, .posts {
        display: none;
    }

    .footerMobile {
        display: block;
    }
    .HeaderMobile
    {
        display: block;
    }
    #nav-list{
     display: none;
    }
    .fList {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

    .fItem {
        padding: 12px;
        border-bottom: 1px solid black;
    }

    .fItem:last-child {
        border-bottom: none;
    }

    .fItem img {
        margin-left: 15px;
    }

    .fLang {
        background: rgba(220, 220, 200, 0.15);
        border-radius: 2px;
        border: none;
        color: white;
        margin-left: 20px;
        padding: 2px;
    }
    .copyright {
        display: none;
    }
    .copyrightMob {
        text-align: left;
        display: block;
        background: rgb(240, 240, 240);
        font-size: 0.6em;
        text-align: center;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        padding: 3px;
    }
    .copyrightMob a {
        
        text-align: left;
    }
    .copyrightMob div {
        margin: 5px;
        text-align: left;
    }

}


